body {
  font-family: Arial, sans-serif;
  background-color: white;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  color: #666;
}

h3{
  text-align: center;
  margin-top: 10;
  color: rgb(241, 159, 91);
}

.calculadora {
  width: 314px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#pantalla {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  background-color: #d8d0ee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #97f197;
}

input[type="button"]:last-child {
  margin-right: 0;
}

input[type="button"][value="+"],
input[type="button"][value="-"],
input[type="button"][value="*"],
input[type="button"][value="="],
input[type="button"][value="."],
input[type="button"][value="/"]{
  color: rgb(15, 92, 15);
  font-weight: bold;
}

input[type="button"][value="C"]{
  color: red;
}

input[type="button"]:hover[value="C"] {
  color: white;
  background-color: red;
}


input[type="button"]:hover[value="+"],
input[type="button"]:hover[value="-"],
input[type="button"]:hover[value="*"],
input[type="button"]:hover[value="="],
input[type="button"]:hover[value="."],
input[type="button"]:hover[value="/"]{
  color: white;
  background-color: green;
}